@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fbf1c7;
  font-family: Menlo, Monaco, "Courier New", monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
